{{ .CurrentRevision}}

{{with .NotesWithActionRequired -}}
# Urgent Upgrade Notes

{{range .}} {{println "-" .}} {{end}}
{{end}}

{{- with .Notes -}}
# Changes
{{ range .}}
## {{.Kind | prettyKind}}
{{range $note := .NoteEntries}}
 - {{$note}}
{{- end}}
{{end}}
{{- end}}

# Installation

First, install kubernetes-nmstate operator:

```
kubectl apply -f https://github.com/nmstate/kubernetes-nmstate/releases/download/{{ .CurrentRevision }}/nmstate.io_nmstates.yaml
kubectl apply -f https://github.com/nmstate/kubernetes-nmstate/releases/download/{{ .CurrentRevision }}/namespace.yaml
kubectl apply -f https://github.com/nmstate/kubernetes-nmstate/releases/download/{{ .CurrentRevision }}/service_account.yaml
kubectl apply -f https://github.com/nmstate/kubernetes-nmstate/releases/download/{{ .CurrentRevision }}/role.yaml
kubectl apply -f https://github.com/nmstate/kubernetes-nmstate/releases/download/{{ .CurrentRevision }}/role_binding.yaml
kubectl apply -f https://github.com/nmstate/kubernetes-nmstate/releases/download/{{ .CurrentRevision }}/operator.yaml
```

Once that's done, create an `NMState` CR, triggering deployment of
kubernetes-nmstate handler:

```
cat <<EOF | kubectl create -f -
apiVersion: nmstate.io/v1beta1
kind: NMState
metadata:
  name: nmstate
EOF
```

{{- /* This removes any extra line at the end. */ -}}
